In [1]:
import pandas as pd
import json

data = {
    "name": "John",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "New York",
        "state": "NY",
        "contacts": [
            {
                "type": "email",
                "value": "john@example.com"
            },
            {
                "type": "phone",
                "value": "123-456-7890"
            }
        ]
    }
}

# Flatten the outer level
df_outer = pd.json_normalize(data)

# Flatten the "address" subtable
df_address = pd.json_normalize(data['address'], max_level=1)

# Combine the outer and subtable dataframes
df_combined = pd.concat([df_outer, df_address], axis=1)

print(df_combined)

   name  age address.street address.city address.state  \
0  John   30    123 Main St     New York            NY

                                    address.contacts       street      city  \
0  [{'type': 'email', 'value': 'john@example.com'...  123 Main St  New York

  state                                           contacts
0    NY  [{'type': 'email', 'value': 'john@example.com'...

In [2]:
df_combined

,name,age,address.street,address.city,address.state,address.contacts,street,city,state,contacts
0,John,30,123 Main St,New York,NY,"[{'type': 'email', 'value': 'john@example.com'...",123 Main St,New York,NY,"[{'type': 'email', 'value': 'john@example.com'..."

In [3]:
import pandas as pd
import json

data = {
    "name": "John",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "New York",
        "state": "NY",
        "contacts": [
            {
                "type": "email",
                "value": "john@example.com"
            },
            {
                "type": "phone",
                "value": "123-456-7890"
            }
        ]
    }
}

df = pd.DataFrame()
for key, value in data.items():
    if isinstance(value, dict):
        for subkey, subvalue in value.items():
            if isinstance(subvalue, list):
                df[f'{key}.{subkey}'] = [json.dumps(subvalue)]
            else:
                df[f'{key}.{subkey}'] = [subvalue]
    else:
        df[key] = [value]

print(df)

   name  age address.street address.city address.state  \
0  John   30    123 Main St     New York            NY

                                    address.contacts
0  [{"type": "email", "value": "john@example.com"...

In [4]:
df

,name,age,address.street,address.city,address.state,address.contacts
0,John,30,123 Main St,New York,NY,"[{""type"": ""email"", ""value"": ""john@example.com""..."

In [5]:
import pandas as pd
import json

data = {
    "name": "John",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "New York",
        "state": "NY",
        "contacts": [
            {
                "type": "email",
                "value": "john@example.com"
            },
            {
                "type": "phone",
                "value": "123-456-7890"
            }
        ]
    }
}

df_outer = pd.DataFrame(data, index=[0])

# Extract the subtable as a separate dataframe
df_subtable = pd.DataFrame(df_outer['address'].values[0])

# Remove the subtable column from the main dataframe
df_outer.drop('address', axis=1, inplace=True)

# Combine the main dataframe with the subtable dataframe
df_combined = pd.concat([df_outer, df_subtable], axis=1)

print(df_combined)

ValueError: DataFrame constructor not properly called!

In [6]:
df_combined

,name,age,address.street,address.city,address.state,address.contacts,street,city,state,contacts
0,John,30,123 Main St,New York,NY,"[{'type': 'email', 'value': 'john@example.com'...",123 Main St,New York,NY,"[{'type': 'email', 'value': 'john@example.com'..."